/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** NavBar ***********/

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app__Barlogo {
    display: flex;
    width: 61px;
    height: 19px;
    padding-top: 44px;
    padding-bottom: 10px;
    justify-content: center;
    align-Items: center;
    flex-shrink: 0;
}

.appBar__nav {
    display: flex;
    width: 381px;
    height: 19px;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 67px;
    flex-shrink: 0;
}

.appBar__nav a {
    text-align: center;
    text-decoration: none;
    border-top: 1px solid transparent;
    color: black;
    padding-top: 48px;
}

.appBar__nav a:hover {
    width: 162px;
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/****** Texte Infos Recherche ***********/

.texteTitre {
    padding-top: 53px;
}

.texteTitre h2 {
    padding-bottom: 8px;
}

.texteTitre p {
    padding-bottom: 20px;
}

/*** Rechercher ***/

.form {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    height: 49px;
}

.form label {
    height: 49px;
    width: 236px;
}

.form input {
    padding-left: 17px;
    padding-right: 72px;
    width: 147px;
    height: 21px;
}

i.fa-solid.fa-location-dot {
    color: black;
    font-size: 18px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    padding:15px;
}

input {
    width: 190px;
    height: 20px;
    padding: 14px 24px;
    border: 1px solid #F2F2F2;
}

::placeholder {
    color: var(--black, #000);
    opacity: 1;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button {
    width: 132px;
    height: 49px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
}

/****** Filtres ***********/
.filtres {
    color: var(--black, #000);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 32px;
    padding-bottom: 37px;
}

.boxFiltres {
    display: flex;
    gap: 43px;
    justify-content: center;
}

.boxFiltres a{
    display: flex;
    gap:10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    text-decoration: none;
    align-items: center;
    padding: 15px 19px;
}

.boxFiltres p {
    color: #000;
}

/****** Infos Disponibles ***********/
.infosDisponible{
    display: flex;
    gap: 11px;
    align-items: center;
    padding-bottom: 39px;
}

i.fa-solid.fa-info {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 7px 10px;
    font-size: 12px;
}

.infosDisponible p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires h2{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding-top: 40px;
    padding-left: 42px;
    padding-right: 40px;
    padding-bottom: 34px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergementsCard {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hCard {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    width: 30%;
    text-decoration: none;
    color: #000;
}

.hcard-content {
    padding-top: 9px;
    padding-left: 16px;
}

.hcard-title {
    padding-bottom: 9px;
}

.hebergementsCard .hCard {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.hebergementsCard img {
    object-fit: cover;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergementsCard .hcard-content {
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergementsCard .hcard-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.AfficherPlus {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 40px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    text-decoration: none;
    color: #000;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {

}

/****** Activités à Marseille ***********/

.activitesMarseille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 35px;
    border: 1px solid transparent;
}

.activitesCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-right: 3px;
}

.aCard {
    margin-top: 18.47px;
    border: 0px solid transparent;
    border-radius: 20px 20px 20px 20px;
    display:flex;
    flex-direction: column;  
    width: 23.24%;
    box-shadow: 0 0 20px #0000002e;
    text-decoration: none;
}

.aCard img {
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.aCard p {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0px 20px 10px ;
}

.acard-title{
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0px 20px 10px;
    color: #000;
}

@media (max-width:1024px) {
   
    .aCard {
        width: 182px;
        height: 267px;
        margin-top: 34px;
        margin-bottom: 69px;
    }
    .aCard img {
        width: 100%;
        height:210px;
    }
    .activitesMarseille {
        display: flex;
        margin-top: 70px;
    }
}

@media (max-width: 767.98px) {
    .activitesCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aCard  {
        width: 315px;
        margin-left: 20px;
        margin-right: 20px;
        margin: ;
    }

    .acard-title {
        padding-left:20px; 
    }
}

/****** Renseignement Bas de Page ***********/

.containerFooter {
    background-color: var(--main-bg-color);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.containerFoot {
    display: flex;
    flex-direction: column;
    width: 347px;
    padding-left: 70px;
    padding-top: 45px;
    padding-bottom: 51px;
}

.containerFoot p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.listcontainer {
    list-style: none;
    padding-top: 20px;
}

.listFooter {
    padding-bottom: 12px;
}
