/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    min-width: 375px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

@media (max-width:1024px) {
   
    
}

@media (max-width: 767.98px) {
    .main-container {
        width: 100%;
        max-width: 768px;
        margin: 0px 0 0 0;
        padding: 0;
        box-sizing: border-box;
    }

    .body {
        min-width: 375px;
    }

}


/****** NavBar ***********/



nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 44px;
}

nav img {
    margin-right: auto;
    width: 61.09px;
    height: 19px;
}

nav a {
    padding: 2.6rem;
    text-decoration: none;
    color: black;
}

nav a:hover {
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
}

@media (max-width:1024px) {



    nav a {
        color: black;
        text-decoration: none;
        padding: 48px 24.5px 0px 24.5px;
    }

    nav a:hover {
        border-top: 0px solid black;
        color: black;
    }
    
}

@media (max-width: 767.98px) {

    header {
        margin-top: 21px;
    }

    .navBarhebergements{
        border-bottom: 3px solid var(--main-color);
        color: var(--main-color);
    }

    nav a {
        border-bottom: 3px solid #f2f2f2;
        border-top: none;
        padding-bottom: 14px;
        width: 50%;
    }

    nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }


    nav {
        display: flex;
        width: 100%;
        text-align: center;
        padding-top: 0;
    }

    nav img{
        margin: 0 auto;
    
    }
    
    .nav{
        display: flex;
        width: 100%;
        text-align: center;
    }


}

/****** Texte Infos Recherche ***********/

.texteTitre {
    margin-top: 53px;
}

.texteTitre h2 {
    padding-bottom: 8px;
}

.texteTitre p {
    padding-bottom: 36px;
}

@media (max-width:1024px) {
   
    
}

@media (max-width: 767.98px) {
    .texteTitre { 
        margin-left: 20px;
        margin-top: 31px;
    }

    .texteTitre h2 {
        padding-bottom: 13px;
        margin-right: 57px;
      }

    .texteTitre p{ 
        width: 315px;
        height: 19px;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

/*** Rechercher ***/

.form {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    height: 49px;
}

.form input {
    padding-left: 17px;
    padding-right: 72px;
    width: 147px;
    height: 21px;
}

i.fa-solid.fa-location-dot {
    color: black;
    font-size: 18px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    width: 14px;
    height: 18px;
    padding: 16px 18px 15px 18px;
}

input {
    width: 190px;
    height: 20px;
    padding: 14px 24px;
    border: 1px solid #F2F2F2;
}

::placeholder {
    color: var(--black, #000);
    opacity: 1;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button {
    width: 132px;
    height: 49px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
}

.btnmobile {
    display: none;
}

i.fa-solid.fa-magnifying-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    color: transparent;
    font-size: 17px;
    background-color: transparent;
    border-radius: 0px 15px 15px 0px;
}

@media (max-width:1024px) {
   
    
}

@media (max-width: 767.98px) {

    .form{
        margin-left: 22px;
    }

    input {
        padding: 14px 65px 14px 24px;
    }

    button {
        display: none;
    }

    .btnmobile {
        display: contents;
    }

    i.fa-solid.fa-magnifying-glass {
        color: white;
        background-color: var(--main-color);
        border-top: 1px solid var(--main-color);
    }

}

/****** Filtres ***********/
.filtres {
    color: var(--black, #000);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 32px;
    padding-bottom: 37px;
}

.boxFiltres {
    display: flex;
    gap: 36px;
    justify-content: center;
}

.btn {
    color: #000;
    display: flex;
    gap:10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    text-decoration: none;
    align-items: center;
    padding: 15px 19px;
    animation-name: retire;
    animation-duration: 1s;
    transform: scale(1);
}

.btn:hover {
    animation-name: maintient;
    animation-duration: 1s;
    transform: scale(1.1);
    animation-fill-mode: forwards;
}

@keyframes maintient {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
        background-color: #DEEBFF;
    }
}

@keyframes retire {
    0% {
        transform: scale(1.1);
        background-color: #DEEBFF;
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        
    }
}


@media (max-width:1024px) {
    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
}

@media (max-width: 767.98px) {
    
    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        padding-bottom: 0px;
    }

    .textfiltres {
        margin-left: 20px;
    }

    .boxFiltres {
        width: 100%;
        flex-wrap: wrap;
        justify-content: normal;
        gap: 14px;
        margin: 15px 20px 35px 20px;
    }

    .btn {
        margin: 0px;
        padding: 12px 12px 12px;
        width: 132px;
    }

    .btn p {
        color: var(--black, #000);
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 98px;
    }

}

/****** Infos Disponibles ***********/
.infosDisponible{
    display: flex;
    gap: 11px;
    align-items: center;
    padding-bottom: 39px;
}

i.fa-solid.fa-info {
    font-size: 12px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infosDisponible p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width:1024px) {
   
    
}

@media (max-width: 767.98px) {
    .infosDisponible{
        align-items: normal;
        padding-bottom: 17px;
    }

    .infosDisponible p {
        width: 298px;
        height: 57px;
    }

    i.fa-solid.fa-info {
        margin-left: 20px;
        
    }
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires h2{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding-top: 40px;
    padding-left: 42px;
    padding-right: 40px;
    padding-bottom: 34px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergementsCard {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hCard {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    width: 30%;
    text-decoration: none;
    color: #000;
}

.hcard-content {
    padding-top: 9px;
    padding-left: 16px;
}

.hcard-title {
    padding-bottom: 9px;
}

.hebergementsCard .hCard {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.hebergementsCard img {
    object-fit: cover;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergementsCard .hcard-content {
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergementsCard .hcard-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.AfficherPlus {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 40px;
}

@media (max-width:1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    
}

@media (max-width: 767.98px) {
    .hebergements {
        background-color: white;
        width: 100%;
    }

    .hebergements-and-populaires {
        background-color: white;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
            border-radius: 0px;
            padding: 0;
    }

    .sectionHebergements{
        padding-left: 20px;
        padding-top: 20px;
    }

    .hebergementsCard{
    margin-bottom: 50px;
    }

    .hCard {
        width: 330px;
        height: 199px;
        margin-left: 20px;
        margin-right: 22px;
        margin-bottom: 0px;
        margin-top: 24px;
    } 

    .hebergementsCard .hcard-content{
        padding: 6px 0px 0px 16px;
    }

    .hcard-txt {
        margin-bottom: 5px;
    }

    .hcard-title{
        margin-bottom: 0px;
        padding-bottom: 5px;
    }

    .AfficherPlus {
        display: none;
    }
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    text-decoration: none;
    color: #000;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 137px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

@media (max-width: 1024px) {
    

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

@media (max-width: 767.98px) {

    .populaires {
        width: 100%;
        padding-left: 20px;
        padding-right: 21px;
        margin-top: 0px;
        background-color: var(--main-bg-color);
    }

    .populaires-title {
        margin-left: 20px;
        margin-right: 21px;
        margin-top: 28px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        padding-bottom: 36px;
    }

    .populaires-cards .card {
        width: 329px;
        height: 144px;
        margin: 0px 21px 11px 20px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    }

    .populaires-cards img {
        width: 137px;
        height: 144px;
    }

    
}

/****** Activités à Marseille ***********/

.activitesMarseille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 35px;
    border: 1px solid transparent;
}

.activitesCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-right: 3px;
}

.aCard {
    margin-top: 18.47px;
    border: 0px solid transparent;
    border-radius: 20px 20px 20px 20px;
    display:flex;
    flex-direction: column;  
    width: 23.24%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    text-decoration: none;
}

.aCard img {
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.aCard p {
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0px 20px 10px ;
}

.acard-title{
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0px 20px 10px;
    color: #000;
}

@media (max-width:1024px) {
   
    .aCard {
        width: 182px;
        height: 267px;
        margin-top: 34px;
        margin-bottom: 69px;
    }
    .aCard img {
        width: 100%;
        height:210px;
    }
    .activitesMarseille {
        display: flex;
        margin-top: 70px;
    }
}

@media (max-width: 767.98px) {

    .activitesTitre {
        margin-left: 22px;
    }

    .activitesMarseille {
        margin-bottom: 80px;
    }

    .activitesTitre {
        width: 212px;
        height: 30.019px;
        margin-bottom: 5px;
    }

    .activitesCard {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .aCard  {
        width: 334px;
        height: 190px;
        margin-left: 19px;
        margin-right: 22px;
        margin-bottom: 0px;
        margin-top: 24px;
    }

    .aCard img {
        width: 334px;
        height: 134px;
    }

    .acard-title {
        padding-left:20px; 
    }
}

/****** Renseignement Bas de Page ***********/

.containerFooter {
    background-color: var(--main-bg-color);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.containerFoot {
    display: flex;
    flex-direction: column;
    width: 347px;
    padding-left: 70px;
    padding-top: 45px;
    padding-bottom: 51px;
}

.containerFoot p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.listcontainer {
    list-style: none;
    padding-top: 20px;
}

.listcontainer a{
    text-decoration: none;
    color: black;
}

.listFooter {
    padding-bottom: 12px;
}

@media (max-width:1024px) {
   
    
}

@media (max-width: 767.98px) {
    .containerFooter {
        display: flex;
        flex-direction: column;
        padding-bottom: 49px;
    }
    
    .containerFoot {
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .containerFoot p {
        padding-left: 30px;
        margin-top: 45px;
    }

    .containerFoot ul {
        padding-left: 30px;
    }
}